# Evita subir claves y configuraciones sensibles
/app/google-services.json

# Ignora otras carpetas y archivos generados automáticamente
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
